
.project{
  background: #000;
}

.project-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.project-content {

  width: 30%;
  height: 70vh;
  margin: 50px auto;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 12px 0 15px -4px #c03060, -12px 0 8px -4px #44107a;
  /* box-shadow: 0 9px 0px 0px #ff1361, 0 -9px 0px 0px  #44107a, 12px 0 15px -4px #231557, -12px 0 15px -4px #fff800; */
}

.image-content img {
  height: 260px;
  width: 400px;
  box-shadow: 5px 30px white;
  border-radius: 40px;
  opacity: 0.5;
  /* position: absolute; */
}

.head{
  text-align: center;
  margin-right: 63px;
  line-height: 2rem;
  margin-top: 0px;
  
}


.image-content img:hover {
  cursor: pointer;
  opacity: 0.2;
  
}

.project-name {
  background: transparent;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Urbanist", sans-serif;
}

.project-desc {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  line-height: 2rem;
  font-family: "Urbanist", sans-serif;
}

.head span {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}

@media screen and (max-width:800px) {
  .head{
    text-align: center;
  
    line-height: 2rem;
    font-size: 30px;
    letter-spacing: 10px;
    margin: 0 auto;
}
    
  
  
.project-container{
  width: 100%;
  margin-left: 30px;
}
.project-content{
  margin: 50px auto;
  width: 325px;
  height: 600px;

}
.image-content img {
  width: 289px;
    height: 264px;


}
.project-desc p{
  text-align: center;
  padding: 2px 30px;
}

}